:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --text-color: #757575;
  --social-list-color: #afb1b8;
  --background-footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
/*Studio*/
.link {
  text-decoration: none;
  display: block;
}
.list {
  list-style: none;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-bottom: 94px;
}

ul {
  margin: 0;
  padding: 0;
}
.title {
  margin: 0;
}
h2.title {
  margin-bottom: 50px;
}

h1,
h2 {
  margin: 0;
}
H1,
h2,
h3,
h4 {
  font-weight: 700;
  color: var(--title-main-color);
}

/*Header*/
.header.container {
  display: flex;
  /*justify-content: space-between;*/
}
.navigation {
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-nav-list-item:not(:last-child) {
  margin-right: 30px;
}
.adress {
  margin-left: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 85px;
  color: var(--primary-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

.body {
  font-family: var(--main-font), sans-serif;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
/*
a {
  text-decoration: none;
}
*/
.site-nav-list {
  display: flex;
}
.site-nav-list {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  color: var(--primary-text-color);
}

.site-nav-list-item:not(:last-child) {
  margin-right: 55px;
}
.site-nav-list-link {
  color: var(--primary-text-color);
}
.site-nav-list-link:hover {
  color: var(--accent-color);
}

.site-nav-list-link:focus {
  color: var(--primary-white-color);
}
.site-nav-list-link:active {
  color: var(--accent-color);
}
.address-nav-list {
  display: flex;
  text-decoration: none;
  align-items: center;
  list-style: none;
}
.address-nav-list-link:hover {
  color: var(--accent-color);
}
.address-nav-list-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*Hero*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--text-color);

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid var(--accent-color);
}
.hero-title {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;

  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  border: 0;
  padding: 10px 32px;
}

/*ABOUTUS*/
.aboutus-list {
  display: flex;
  list-style: none;

  padding-top: 94px;
  padding-bottom: 47px;
}
.aboutus-list-item:not(:last-child) {
  margin-right: 30px;
}
.aboutus-list-item {
  padding-top: 25px;
}
.aboutus-title {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-text-color);
}
.aboutus-text {
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  color: var(--text-color);
}
/*.aboutus-item img {
  width: 270px;
  background-color: var(--social-list-color);
}
*/
/*What We do*/
.whatwedo-list {
  display: flex;
  justify-content: center;
}
.whatwedo-section {
  margin-bottom: 94px;
  padding-top: 47px;
  padding-left: 0;
}

h3.whatwedo-list-link {
  margin: 0;
  color: var(--primary-white-color);
}
.whatwedo-list-link {
  margin-top: 0;
  background-color: #2f303a;
  padding-top: 27px;
  padding-bottom: 27px;
}
.whatwedo-list-link:link {
  color: var(--primary-white-color);
}
.whatwedo-list {
  list-style: none;
  text-align: center;
}
.whatwedo-list-item:not(:last-child) {
  margin-right: 30px;
}
.whatwedo-list-title {
  background-color: var(--text-color);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  text-transform: uppercase;

  color: var(--primary-white-color);
}
/*OURE TEAME*/

.team-list {
  display: flex;
  margin-left: 0;

  padding-bottom: 94px;
}
.team-list {
  list-style: none;
}
.team-list-title {
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--primary-text-color);
}
.team-list-desc {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  color: var(--text-color);
}
.team-list-social {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--social-list-color);
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 32px;
  padding-left: 32px;
}
.team-list-social-item {
  font-style: non;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-decoration: none;
  color: var(--text-color);
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}
.team-list-social :hover,
.team-list-social :focus {
  color: var(--accent-color);
}

/*Uor Clients*/
.section-client-list {
  display: flex;

  margin-bottom: 94px;
  justify-content: center;
  align-items: center;
}
.client-h2 {
  margin-bottom: 50px;
}
.section-client-list {
  list-style: none;
}
.section-client-list-link:hover,
.section-client-list-link:focus {
  color: var(--accent-color);
}
.section-clients-list.link {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
.client-item {
  justify-content: space-around;
}
/*footer*/
.logo-footer {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-right: 85px;
  color: var(--primary-white-color);
}
.footer {
  display: flex;
}
.footer {
  background-color: #2f303a;
}
.footer-list {
  list-style: none;
  text-decoration: none;
  background-color: #2f303a;
}
.footer-list-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-list-adress {
  font-family: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  background-color: var(--background-footer-color);
  text-decoration: none;
}
.footer-list-adress-link {
  color: #000;
}

.footer-social-list {
  list-style: none;
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-social-list-item:hover {
  color: var(--accent-color);
}
.footer-title {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--background-footer-color);
  color: var(--primary-white-color);
}

/*PORTFOLIO*/

.filter {
  font-size: var(--main-font);
  text-decoration: none;
  font-style: 400;
  font-weight: 400;
}
.filter-list {
  list-style: none;
}
.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 93px;
  outline: 1px solid black;
  flex-grow: 1;
  margin-left: 0;
}

.filter-list-button {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.filter-list-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}
.filter-list-item:hover {
  background: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--primary-white-color);
}
.filter-list-button:hover,
:focus {
  color: var(--accent-color);
  background: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: var(--primary-white-color);
}

.filter-project-list {
  list-style: none;
  outline: 1px solid black;
  display: flex;
}

.filter-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.filter-project-list-text {
  text-decoration: none;
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 9;
  color: var(--text-color);
}
.filter-project-list-tehnokryak {
  background-color: var(--accent-color);
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 6;
  color: var(--primary-white-color);
}

.filter-project-list {
  display: flex;
  flex-wrap: wrap;
}
.filter-project-list-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.filter-project-list-item:nth-child(3n) {
  margin-right: 0;
}
.filter-project-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
